# 1. import libraries

In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
warnings.filterwarnings("ignore")
plt.style.use('seaborn-white')
plt.rcParams['figure.figsize'] = 15,5
%matplotlib inline

---
# 2. import dataset

In [3]:
df = pd.read_csv('../0 data/clean.csv')
df = df.reset_index()
df.shape

(68294, 11)

---
# 3. categorical

In [4]:
def cat_var(x,y):
    gb = df.groupby(x).agg({'index':'count',y:'mean'}).reset_index()
    display(gb)

In [5]:
cat_var('paytype','Y')

  paytype  index         Y
0      B     144  0.062500
1       U  68150  0.095598

In [6]:
df['month'] = np.where(df['month']==12, 1, -1)
df['payment'] = np.where(df['payment']=='01', -1, 1)
df['acctype'] = np.where(df['acctype'].isin(['F', 'D', 'H', 'C', 'B', 'U', 'A', 'S', 'P', 'R']), -1, 1)

---
# 4. groups

In [7]:
cat_var('month','Y')

   month  index         Y
0     -1  55440  0.081494
1      1  12854  0.156060

In [8]:
cat_var('payment','Y')

   payment  index         Y
0       -1  65136  0.061333
1        1   3158  0.800823

In [9]:
cat_var('acctype','Y')

   acctype  index         Y
0       -1  65912  0.092669
1        1   2382  0.174643

---
# 5. export dataset

In [10]:
df = df.drop(['index','paytype'], axis=1)
df.to_csv('../0 data/temp.csv', index=False)
df.shape

(68294, 9)