# 1. import libraries

In [1]:
import warnings
import numpy as np
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
warnings.filterwarnings("ignore")
%matplotlib inline
plt.style.use('seaborn-white')
plt.rcParams['figure.figsize'] = 15,5

---
# 2. import dataset

In [3]:
df = pd.read_csv('../0 data/temp.csv')
df = df.reset_index()
df.shape

(68294, 10)

---
# 3. numerical

In [4]:
def num_var(x,y,z,i,j):
    dtree = tree.DecisionTreeClassifier(random_state=0, max_depth=i, min_samples_leaf=j)
    dtree = dtree.fit(df[[x]],df[y])
    
    df[z] = dtree.apply(df[[x]])
    gb = df.groupby(z).agg({'index':'count', x:['min','max'], y:'mean'}).reset_index()
    display(gb)

In [5]:
num_var('score', 'Y', 'score_bin', 3, 1360)

  score_bin  index score              Y
             count   min  max      mean
0         2   2155     1  488  0.532251
1         4   2720   489  522  0.338971
2         5   2338   523  541  0.259624
3         8   3563   542  562  0.163907
4         9   4286   563  581  0.116659
5        11   9760   582  617  0.073463
6        12  43472   618  839  0.047088

In [6]:
num_var('amount', 'Y', 'amount_bin', 3, 1360)

  amount_bin  index  amount                   Y
              count     min       max      mean
0          3   5080  1000.0    1498.0  0.102362
1          4   2124  1499.0    1533.0  0.075800
2          6   1520  1534.0    1916.0  0.157895
3          7   5784  1917.0    2983.0  0.113416
4          9   1384  2984.0    3046.0  0.070087
5         11   2838  3048.0    3840.0  0.106061
6         12  49564  3842.0  100000.0  0.091780

In [7]:
num_var('duration', 'Y', 'duration_bin', 3, 1360)

  duration_bin  index duration                Y
                count      min    max      mean
0            2   5789     12.0   12.0  0.081016
1            4   3190     13.0   20.0  0.135110
2            5   8397     21.0   35.0  0.106348
3            8  10932     36.0   47.0  0.096872
4            9  30889     48.0   72.0  0.087895
5           11   1527     73.0   74.0  0.151932
6           12   7570     75.0  120.0  0.095773

---
# 4. groups

In [8]:
def cat_var(x,y):
    gb = df.groupby(x).agg({'index':'count',y:'mean'}).reset_index()
    display(gb)

In [9]:
df['score_bin'] = np.where(df['score']<=490, 3, 
                           np.where(df['score']<=520, 2, 
                                    np.where(df['score']<=540, 1, 
                                             np.where(df['score']<=560, 0, 
                                                      np.where(df['score']<=580, -1, 
                                                               np.where(df['score']<=620, -2, -3))))))

In [10]:
cat_var('score_bin','Y')

   score_bin  index         Y
0         -3  42539  0.046851
1         -2  10943  0.073289
2         -1   4419  0.120389
3          0   3297  0.170458
4          1   2514  0.262530
5          2   2304  0.342014
6          3   2278  0.521071

---
# 5. export dataset

In [11]:
df = df.drop(['index', 'year', 'score', 'amount', 'duration', 'amount_bin', 'duration_bin'], axis=1)
df.to_csv('../0 data/master.csv', index=False)
df.shape

(68294, 6)