# 1. import libraries

In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
warnings.filterwarnings("ignore")
plt.style.use('seaborn-white')
plt.rcParams['figure.figsize'] = 15,5
%matplotlib inline

---
# 2. import dataset

In [3]:
df = pd.read_csv('clean.csv')
df = df.reset_index()
df.shape

(179235, 20)

---
# 3. categorical

In [4]:
def cat_var(x,y):
    gb = df.groupby(x).agg({'index':'count',y:'mean'}).reset_index()
    display(gb)

In [5]:
df['UseOfLoan'] = np.where(df['UseOfLoan']==-1, -1, 1)
df['Education'] = np.where(df['Education']==-1, -1, 
                           np.where(df['Education']==2, 1, 0))
df['MaritalStatus'] = np.where(df['MaritalStatus']==-1, -1, 1)
df['EmploymentStatus'] = np.where(df['EmploymentStatus']==-1, -1, 1)
df['OccupationArea'] = np.where(df['OccupationArea']==-1, -1, 1)
df['NewCreditCustomer'] = np.where(df['NewCreditCustomer']==True, 1, -1)

---
# 4. groups

In [6]:
cat_var('UseOfLoan','Y')
cat_var('Education','Y')
cat_var('MaritalStatus','Y')
cat_var('EmploymentStatus','Y')
cat_var('OccupationArea','Y')
cat_var('NewCreditCustomer','Y')

   UseOfLoan   index         Y
0         -1  142647  0.360695
1          1   36588  0.545643

   Education   index         Y
0         -1     729  0.004115
1          0  172063  0.392449
2          1    6443  0.603290

   MaritalStatus   index         Y
0             -1  142647  0.360695
1              1   36588  0.545643

   EmploymentStatus   index         Y
0                -1  142647  0.360695
1                 1   36588  0.545643

   OccupationArea   index         Y
0              -1  142698  0.360881
1               1   36537  0.545173

   NewCreditCustomer   index         Y
0                 -1   78833  0.325663
1                  1  100402  0.455598

---
# 5. export dataset

In [7]:
df = df.drop(['index','NrOfDependants','HomeOwnershipType','EmploymentPosition','WorkExperience'], axis=1)
df.to_csv('temp.csv', index=False)
df.shape

(179235, 15)